$breakpoints-min: (
    small-screen: 768px,
    medium-screen: 1024px,
    large-screen: 1280px,
    extra-large-screen: 1366px
);

$breakpoints-max: (
    small-screen: 767px,
    medium-screen: 1023px,
    large-screen: 1279px,
    extra-large-screen: 1365px
);

@mixin min($breakpoint) {
    @media (min-width: map-get($breakpoints-min, $breakpoint)) {
        @content;
    }
}

@mixin max($breakpoint) {
    @media (max-width: map-get($breakpoints-max, $breakpoint)) {
        @content;
    }
}
