<div class="card">
    <header class="header-container" (click)="expanded = !expanded">

        @if (banner) {
        <img [src]="banner" class="banner" alt="Banner">
        }

        <div class="header">
            @if (pretitle) {
            <span class="pretitle">{{ pretitle }}</span>
            }

            <span class="title">{{ title }}</span>

            @if (description) {
            <span class="description">{{ description }}</span>
            }
        </div>

        <i class="icon material-icons">
            @if (expanded) {
            keyboard_arrow_up
            } @else {
            keyboard_arrow_down
            }
        </i>
    </header>

    <section class="content-container" [ngClass]="{'expanded': expanded}">
        <div class="content">
            <div class="spacer-lg"></div>
            <ng-content></ng-content>
            <div class="spacer-sm"></div>
        </div>
    </section>
</div>
