@use "../../../colors.scss" as colors;

$date-color: #696969;
$content-color: #aaaaaa;

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: colors.$secondary;
    border: 2px colors.$tertiary solid;
    border-radius: 1rem;
    padding: 0.75rem;
    align-items: baseline;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pretitle {
    font-size: 0.8rem;
    font-weight: bold;
    color: $date-color;
    margin-bottom: 0.5rem;
}

.icon {
    position: absolute;
    top: 0.35rem;
    right: 0.5rem;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.description {
    font-size: 1rem;
    font-weight: 300;
}

.material-icons {
    color: $date-color;
}

.content {
    display: grid;
    grid-template-rows: 0fr;
    padding-top: 0;
    transition: 250ms grid-template-rows ease, 250ms padding-top ease;
    overflow: hidden;
}

.content ::ng-deep > * {
    overflow: hidden;
    align-items: baseline;
    text-align: left;
    color: $content-color;
}

.expanded {
    grid-template-rows: 1fr;
    padding-top: 1rem;
}
