@use "../../../styles/colors" as colors;
@use "../../../styles/mixin/gradient.mixin.scss" as gradient-mixin;


.background {
    cursor: pointer;
    background-color: black;
    padding: 1rem 1.5rem;
    width: max-content;
    border-radius: 2rem;
    border: 2px solid transparent;
    position: relative;
    transition: 250ms filter ease-in-out;
}

.disabled {
    filter: grayscale(100);
}

.text {
    font-size: 1.25rem;
    font-weight: 600;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include gradient-mixin.text-gradient;
}

.text.loading {
    visibility: hidden;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.primary {
    @include gradient-mixin.gradient-stroke(colors.$primary);
}

.secondary {
    @include gradient-mixin.gradient-stroke(colors.$secondary);
}
