<div class="page-container">
    <h1>Experience</h1>

    <div class="card-container">
        <card [pretitle]="getPeriod('12/01/2023')" title="Lead Full Stack Developer"
            description="Limber Software">
            <p>
                Today, I lead a sector focused on internal services and system integrators.<br><br>
                Responsibilities:<br>
                • Maintenance of services and integrators<br>
                • Demand management• Technical analysis and prototyping<br>
                • Planning and developing new projects<br>
                • Service maintenance on Google Cloud<br>
                • Overseeing a Trainee developer<br>
            </p>
        </card>

        <card [pretitle]="getPeriod('07/01/2023', '12/01/2023')" title="Back-end Developer"
            description="Limber Software">
            <p></p>
        </card>

        <card [pretitle]="getPeriod('05/01/2022', '07/01/2023')" title="Delphi Developer"
            description="Limber Software">
            <p></p>
        </card>

        <card [pretitle]="getPeriod('11/01/2021', '04/01/2022')" title="PowerBuilder & Java Developer"
            description="CISS S.A">
            <p></p>
        </card>
        <card [pretitle]="getPeriod('03/01/2018', '11/01/2021')" title="Delphi Developer"
            description="Limber Software">
            <p></p>
        </card>
    </div>

    <h2>Education</h2>

    <div class="card-container">
        <card [pretitle]="getPeriod('01/01/2018', '12/01/2021')" title="Bachelor of Software Engineering"
            description="UNIDEP">
            <p></p>
        </card>
    </div>
</div>
