<div class="page-container">
    <h1>Experience</h1>

    <div class="card-container">
        <experience-panel startDate="12/01/2023" title="Lead Full Stack Developer" company="Limber Software"
            [expanded]="true">
            <p>
                Today, I lead a sector focused on internal services and system integrators.<br><br>
                Responsibilities:<br>
                • Maintenance of services and integrators<br>
                • Demand management• Technical analysis and prototyping<br>
                • Planning and developing new projects<br>
                • Service maintenance on Google Cloud<br>
                • Overseeing a Trainee developer<br>
            </p>
        </experience-panel>

        <experience-panel startDate="07/01/2023" endDate="12/01/2023" title="Back-end Developer"
            company="Limber Software">
            <p></p>
        </experience-panel>

        <experience-panel startDate="05/01/2022" endDate="07/01/2023" title="Delphi Developer"
            company="Limber Software">
            <p></p>
        </experience-panel>

        <experience-panel startDate="11/01/2021" endDate="04/01/2022" title="PowerBuilder & Java Developer"
            company="CISS S.A">
            <p></p>
        </experience-panel>
        <experience-panel startDate="03/01/2018" endDate="11/01/2021" title="Delphi Developer"
            company="Limber Software">
            <p></p>
        </experience-panel>
    </div>
</div>