<div class="page-container">
    <h1>Experience</h1>

    <div class="card-container">
        <experience-card [period]="getPeriod('06/01/2024')" title="Lead Full Stack Developer"
            organization="Limber Software">
            <p>
                Currently, I lead a small development team specializing in internal services and integrators.
                My responsibilities include:<br>
                • Maintenance of services and integrators<br>
                • Demand management<br>
                • Technical analysis and prototyping<br>
                • Planning and developing new projects<br>
                • Service maintenance on Google Cloud<br>
                • Mentoring a Trainee developer<br>
            </p>
        </experience-card>

        <experience-card [period]="getPeriod('12/01/2023', '06/01/2024')" title="Full Stack Developer"
            organization="Limber Software">
            <p>
                After some months of experience in back-end develop, I started to work
                in full stack projects.
            </p>
        </experience-card>

        <experience-card [period]="getPeriod('07/01/2023', '12/01/2023')" title="Back-end Developer"
            organization="Limber Software">
            <p>
                As planned, I migrated to web development and started
                working on internal services and system integrators.
            </p>
        </experience-card>

        <experience-card [period]="getPeriod('05/01/2022', '07/01/2023')" title="Senior Delphi Developer"
            organization="Limber Software">
            <p>
                After not fully adapting to the programming languages I worked with at CISS,
                I decided to return to Limber Software as a Senior Delphi Developer.
                This move allowed me to leverage my Delphi expertise while also setting plans to
                transition into web development in the near future.
            </p>
        </experience-card>

        <experience-card [period]="getPeriod('11/01/2021', '04/01/2022')" title="PowerBuilder & Java Developer"
            organization="CISS S.A">
            <p>
                I had the opportunity to learn how another company works, about other programming languages,
                and to meet new people. So, I decided to take the opportunity and started working at CISS S.A,
                one of the largest software houses in Brazil for supermarket and building material stores.
            </p>
        </experience-card>

        <experience-card [period]="getPeriod('03/01/2019', '11/01/2021')" title="Delphi Developer"
            organization="Limber Software">
            <p>
                After my internship at Limber Software, I began working as a Junior Delphi Developer.
                This role marked the next step in my career, allowing me to deepen my programming
                experience and expand my technical skills.
            </p>
        </experience-card>

        <experience-card [period]="getPeriod('03/01/2018', '03/01/2019')" title="Internship"
            organization="Limber Software">
            <p>
                I started my internship at Limber Software right at the beginning of my college journey,
                shortly after completing a programming training program offered by Limber Software and UNIDEP.
                This opportunity allowed me to start applying my skills in a real-world setting.
            </p>
        </experience-card>
    </div>

    <h2>Education</h2>

    <div class="card-container">
        <experience-card [period]="getPeriod('01/01/2018', '12/01/2021')" title="Bachelor of Software Engineering"
            organization="UNIDEP">
            <p>
                After completing high school and the training program, I began pursuing a degree in Software
                Engineering with financial support from Limber Software. This academic journey was a pivotal
                stage in my personal and professional growth. It provided me with essential knowledge in software
                development and various fields within software engineering while also allowing me to build my
                first professional network.
            </p>
        </experience-card>

        <experience-card [period]="getPeriod('09/01/2017', '11/01/2017')" title="Programming Training Program"
            organization="UNIDEP">
            <p>
                At the end of high school, I had the opportunity to participate in a programming training program,
                a partnership between Limber Software and UNIDEP aimed at developing skilled professionals.
                Over the course of three months, I discovered my passion for programming and laid the foundation
                for my future career.
            </p>
        </experience-card>
    </div>
</div>
