@use "../../../styles/colors.scss" as colors;

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: colors.$tertiary;
    align-items: baseline;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.header {
    display: flex;
    background-color: colors.$secondary;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 100%;
    user-select: none;
    padding: 0.75rem;
    justify-content: end;
}

.period {
    font-size: 0.8rem;
    font-weight: bold;
    color: colors.$grey;
    margin-bottom: 0.5rem;
}

.icon {
    position: absolute;
    top: 0.35rem;
    right: 0.5rem;
    border-radius: 1rem;
    color: colors.$grey !important;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.organization {
    font-size: 1rem;
    font-weight: 300;
}

.content-container {
    display: grid;
    grid-template-rows: 0fr;
    padding: 0 0.75rem;
    overflow: hidden;
    transition: 250ms grid-template-rows ease-in-out;
}

.content-container.expanded {
    grid-template-rows: 1fr;
}

.content {
    overflow: hidden;
    align-items: baseline;
    text-align: left;
}

::ng-deep .content > *{
    color: colors.$light-grey;
}

.spacer {
    height: 0.5rem;
}
