<div class="card">
    <header class="header" (click)="expanded = !expanded">
        <span class="pretitle">{{ period }}</span>
        <span class="title">{{ title }}</span>
        <span class="description">{{ organization }}</span>

        <i class="icon material-icons">
            @if (expanded) {
            keyboard_arrow_up
            } @else {
            keyboard_arrow_down
            }
        </i>
    </header>

    <section class="content-container" [ngClass]="{'expanded': expanded}">
        <div class="content">
            <div class="spacer"></div>
            <ng-content></ng-content>
            <div class="spacer"></div>
        </div>
    </section>
</div>