@use "../colors.scss" as colors;
@use "../mixin.scss" as mixin;

.container {
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    text-align: center;
    color: colors.$dark-grey;
    font-size: 0.75rem;
}

.footer u {
    color: colors.$dark-grey;
}

mobile-menu {
    @include mixin.media(mobile) {
        display: none;
    }
}
