<body class="container">
    <picture>
        <source srcset="pictures/profile.jpg" media="(min-width: 1024px)">
        <img src="pictures/profile-sm.jpg" alt="Vinícius Iancovski" class="picture">
    </picture>

    <article class="group">
        <section class="title">
            <span>Vinícius Iancovski</span>
            <h1>Full Stack Developer</h1>
        </section>

        <section class="slogan">
            <p>Scalability, efficiency, simplicity, reliability, and maintainability.</p>
            <p>That's what I deliver.</p>
        </section>

        <gradient-button class="button" color="secondary" (click)="scrollToContact()">Get in touch</gradient-button>
    </article>
</body>