@use "../../../styles/colors.scss" as colors;
@use "../../../styles/mixin/media.mixin.scss" as media-mixin;

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: colors.$secondary;

    @include media-mixin.min(small-screen) {
        height: 90svh;
        padding: 10rem 8rem;
    }
}

.picture {
    width: 100%;
    z-index: 0;

    @include media-mixin.min(small-screen) {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: 100%;
    }
}

.group {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    text-align: center;
    height: 100%;
    z-index: 1;

    @include media-mixin.min(small-screen) {
        align-items: baseline;
        text-align: start;
        justify-content: space-between;
    }
}

.title {
    position: relative;
    top: -1.5rem;
    margin-bottom: -1.5rem;

    span {
        font-size: 1.25rem;
    }

    @include media-mixin.min(small-screen) {
        top: auto;
        margin-bottom: 0;

        span {
            font-size: 1.5rem;
        }
    }

    @include media-mixin.min(medium-screen) {
        span {
            font-size: 2rem;
        }
    }

    @include media-mixin.min(large-screen) {
        h1 {
            color: colors.$secondary;
        }

        span {
            font-size: 2.5rem;
        }
    }

    @include media-mixin.min(extra-large-screen) {
        span {
            font-size: 3rem;
        }
    }
}

.slogan {
    max-width: 20rem;

    @include media-mixin.min(small-screen) {
        max-width: none;
    }

    @include media-mixin.min(large-screen) {
        font-size: 1.25rem;
        line-height: 1.5rem;

        p {
            margin-bottom: 0.5rem;
        }
    }
}

.button {
    margin: 1.5rem 0 2.5rem 0;

    @include media-mixin.min(small-screen) {
        margin-bottom: 0;
    }
}
