<div class="container">
    <img src="pictures/profile-sm.png" alt="Vinícius Iancovski" class="picture">

    <span class="name">Vinícius Iancovski</span>
    <h1 class="job">Full Stack Developer</h1>

    <p class="slogan">Scalability, efficiency, simplicity, reliability, and maintainability.</p>
    <p class="slogan">That's what I deliver.</p>

    <gradient-button class="button">Get in touch</gradient-button>

    <div class="socials">
        <img src="icons/socials/linkedin.png" alt="LinkedIn">
        <img src="icons/socials/fiverr.png" alt="Fiverr">
        <img src="icons/socials/email.png" alt="Email">
    </div>
</div>