<div class="page">
    <h1>Projects</h1>

    <div class="card-container">
        <project-card title="Portfolio" category="Website" banner="pictures/projects/portfolio.jpg">
            <p></p>
        </project-card>

        <project-card title="New Angular Schematic" category="VSCode Extension"
            banner="pictures/projects/new-angular-schematic.jpg">
            <p></p>
        </project-card>

        <project-card title="Format via Explorer" category="VSCode Extension"
            banner="pictures/projects/format-via-explorer.jpg">
            <p></p>
        </project-card>
    </div>
</div>