.snackbar {
    display: flex;
    position: fixed;
    bottom: 6rem;
    left: 1rem;
    right: 1rem;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.snackbar span {
    white-space: pre-line;
}

.success {
    background-color: #69ca31;
}

.error {
    background-color: #ca3131;
}

.close-button {
    margin-left: 1rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
}
