<div class="card">
    <header class="header" (click)="expanded = !expanded">
        <img [src]="banner" class="banner" alt="Banner">

        <i class="icon material-icons">
            @if (expanded) {
            keyboard_arrow_up
            } @else {
            keyboard_arrow_down
            }
        </i>

        <div class="header-text">
            <span class="title">{{ title }}</span>
            <span class="category">{{ category }}</span>
        </div>
    </header>

    <section class="content-container" [ngClass]="{'expanded': expanded}">
        <div class="content">
            <div class="spacer"></div>
            <ng-content></ng-content>
            <div class="spacer"></div>
        </div>
    </section>
</div>