$primary:        #111111;
$secondary:      #161616;
$tertiary:       #1C1C1C;

$dark-grey:      #6E6E6E;
$medium-grey:    #AAAAAA;
$light-grey:     #FAFAFA;

$gradient-start: #FF0099;
$gradient-end:   #FF7A00;
