$primary:        #111111;
$secondary:      #161616;
$tertiary:       #1C1C1C;

$dark-grey:      #333333;
$grey:           #666666;
$light-grey:     #999999;

$gradient-start: #FF0099;
$gradient-end:   #FF7A00;
