@use 'theme';

@mixin text-gradient {
  color: transparent;
  background: linear-gradient(to right, theme.$gradient-start, theme.$gradient-end);
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
}

@mixin text-gradient-stroke {
  background: linear-gradient(to right, theme.$gradient-start, theme.$gradient-end);
  background-clip: text;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
}
