@use 'reset';
@use 'colors';
@use 'mixin';

html {
    font-size: 16px;
}

* {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
    background-color: colors.$primary;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
  font-size: 2rem;
  color: colors.$primary;
  width: max-content;
  padding-bottom: 1rem;

  @include mixin.text-gradient;
}

h1.secondary {
  color: colors.$secondary;
}

h2 {
  font-size: 1.25rem;
  width: max-content;

  @include mixin.text-gradient;
}

h3 {
  font-size: 1.10rem;
}
