@use 'reset';
@use 'colors';
@use 'mixin';

// Classes

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem
}

// Components

body {
    background-color: colors.$primary;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
  font-size: 2rem;
  color: colors.$primary;
  width: max-content;
  padding-bottom: 1rem;

  @include mixin.text-gradient;
}

h1.secondary {
  color: colors.$secondary;
}

h2 {
  font-size: 1.25rem;
  width: max-content;

  @include mixin.text-gradient;
}

h3 {
  font-size: 1.10rem;
}

p {
    line-height: 1.5rem;
}

// Root

html {
    font-size: 16px;
}

* {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
